.header {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.aboutme,
.intro {
  margin-bottom: 80px;
}

.overview,
.aboutme,
.timeline,
.intro {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.overview .map {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.overview .title {
  flex: 0 0 100%;
}

.overview .text {
  flex: 0 1 auto;
}

.timeline-details {
  display: flex;
}

.timeline-details .timeline-drugs,
.timeline-details .timeline-contacts {
  flex: 0 0 50%;
}

.notes {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.page-footer .footer--wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 540px;
}