.header {
  margin-bottom: 200px;
}

.intro {
  margin-bottom: 240px;
  width: 680px;
}

.progress,
.aboutme {
  margin-bottom: 160px;
}

.overview,
.aboutme,
.timeline {
  width: 680px;
}

.overview .map {
  margin-bottom: 160px;
}

.timeline-detail {
  display: flex;
}

.timeline-chart {
  flex: 0 0 60%;
  padding-right: 20px;
}

.timeline-details {
  display: block;
  flex: 0 0 40%;
  padding-left: 20px;
}

.notes {
  width: 680px;
}

.page-footer .footer--wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

.page-footer .col {
  flex: 0 0 50%;
}

.page-footer .col:first-child {
  order: 2;
  padding-left: 20px;
}

.page-footer .col:last-child {
  order: 1;
  padding-right: 20px;
}


/* Heatmaps */

.drugs,
.heatmaps {
  margin-bottom: 160px;
}